# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
mods
/src/main/resources/
backup
AutoBuildProject/.idea
AutoBuildProject/out
AutoBuildProject/build
AutoBuildProject/AutoBuildProject.iml

src/main/java/*
!src/main/java/ModelLittleMaid_ZeroDot333Danger.java